appmode
bash_kernel
bookbook
bs4
folium
geocoder
geopandas
h5py
IPython
ipywidgets
jinja2
jupyter_contrib_nbextensions
jupyter-book
jupytext
latex
markdown
numpy
pandas
pytest
py-heat-magic
rise
seaborn
pyyaml
wordcloud
